.Rz5N3cHNgTGZsIQJqBfgk {
	display: none;
}
._2fN55zgax6VM7DyEl9pOmM {
	display: none;
}
._23h0-EcaBUorIHC-JZyh6J {
	display: none;
}
._2GllO2Gk7c6od_GL_uNYcO {
	display: none;
}
._1rZYMD_4xY3gRcSS3p8ODO {
	display: none;
}
._1c8HaTqXDAT7pYLrFLAWFt {
	display: none;
}
.icon-upvote {
	display: none;
}
.icon-downvote {
	display: none;
}
div[id^='vote-arrows'] {
	display: none;
}