/* padding removal for home page*/
div.bE7JgM2ex7W3aF3zci5bm {
	padding-left: 0; !important;
}

/*arrows beside RPAN/Livestream component*/
.Rz5N3cHNgTGZsIQJqBfgk {
	display: none;
}
._2fN55zgax6VM7DyEl9pOmM {
	display: none;
}
._23h0-EcaBUorIHC-JZyh6J {
	display: none;
}
._2GllO2Gk7c6od_GL_uNYcO {
	display: none;
}
._1rZYMD_4xY3gRcSS3p8ODO {
	display: none;
}
._1c8HaTqXDAT7pYLrFLAWFt {
	display: none;
}

/*arrows beside not-yet-loaded posts and comments*/
.icon-upvote {
	display: none;
}
.icon-downvote {
	display: none;
}

/*arrows beside posts and comments*/
div[id^='vote-arrows'] {
	display: none;
}